<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RolsaTechnologies</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RolsaTechnologies.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Images/Logo.png" alt="RolsaTechnologies" height="100" width="150" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <!-- Admin Button - Visible only if the user has an Admin Role -->
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- Information Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownInformation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Information
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownInformation">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="GreenEnergyProducts">Green Energy Products</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AboutUs">About</a></li>
                                
                                <!-- Add more links as needed -->
                            </ul>
                        </li>

                        <!-- Tools Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownTools">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Calculators" asp-action="Index">Calculator</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="EnergyTrackers" asp-action="Index">EnergyTracker</a></li>
                                <!-- Add more tools as needed -->
                            </ul>
                        </li>

                        <!-- Services Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownServices" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownServices">
                                <li><a class="dropdown-item" asp-area="" asp-controller="ScheduleConsultations" asp-action="Index">Consultations</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="ScheduleInstallations" asp-action="Index">Installations</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FAQs">FAQ</a></li>
                                <!-- Add more services as needed -->
                            </ul>
                        </li>

                        <!-- Accessibility Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownAccessibility" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Accessibility
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccessibility">
                                <li><a class="dropdown-item" href="#" onclick="toggleDarkMode()">Toggle Dark Mode</a></li>
                                <li><a class="dropdown-item" href="#" onclick="toggleHighContrast()">Toggle High Contrast</a></li>
                                <li><a class="dropdown-item" href="#" onclick="changeFontSize('increase')">Increase Font Size</a></li>
                                <li><a class="dropdown-item" href="#" onclick="changeFontSize('decrease')">Decrease Font Size</a></li>
                            </ul>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

        <div class="content">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="row justify-content-center">

                <!-- Useful Links Section -->
                <div class="col-sm-4 col-md-3 item">
                    <h3>Useful Links</h3>
                    <ul class="list-unstyled">
                        <!-- List of important pages on the site -->
                        <li><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                        <li><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                        <li><a asp-controller="Home" asp-action="Index">Accessibility</a></li>
                    </ul>
                </div>

                <!-- Contact Information Section -->
                <div class="col-sm-4 col-md-3 item">
                    <h3>Contact</h3>
                    <ul class="list-unstyled">
                        <!-- Contact details with icons -->
                        <li><i class="bi bi-telephone"></i> +44 123 456 7890</li>
                        <li><i class="bi bi-envelope"></i> info@rolsatechnologies.com</li>
                    </ul>
                </div>

                <!-- Social Media and Copyright Section -->
                <div class="col-lg-3 item social text-center">
                    <!-- Social media links with icons -->
                    <a href="#"><i class="icon ion-social-facebook fs-4"></i></a>
                    <a href="#"><i class="icon ion-social-twitter fs-4"></i></a>
                    <a href="#"><i class="icon ion-social-instagram fs-4"></i></a>
                    <!-- Copyright notice -->
                    <p class="copyright mt-2">Rolsa Technologies © 2025</p>
                </div>

            </div>
        </div>
    </footer>



        <script>
            document.addEventListener("DOMContentLoaded", function () {
            const body = document.body;

            // Dark Mode
            function toggleDarkMode() {
                // toggles dark mode on body
                body.classList.toggle("dark-mode");
                localStorage.setItem("theme", body.classList.contains("dark-mode") ? "dark" : "light"); // saves the dark mode in local storage so that even if the page reloads, it stays in dark mode
            }
            if (localStorage.getItem("theme") === "dark") {
                body.classList.add("dark-mode");
            }
            window.toggleDarkMode = toggleDarkMode;

            // High Contrast
            function toggleHighContrast() {
                // toggles high contrast mode on body
                body.classList.toggle("high-contrast");
                localStorage.setItem("contrastMode", body.classList.contains("high-contrast") ? "high-contrast" : "normal"); // saves the high contrast mode in local storage so that even if the page reloads, it stays in high contrast mode
            }
            if (localStorage.getItem("contrastMode") === "high-contrast") {
                body.classList.add("high-contrast");
            }
            window.toggleHighContrast = toggleHighContrast;

            // Font Size
            function changeFontSize(action) {
                let currentSize = parseInt(window.getComputedStyle(body).fontSize);
                if (action === 'increase') { // increase font size
                    currentSize += 2;
                } else if (action === 'decrease') { // decrease font size
                    currentSize -= 2;
                }
                body.style.fontSize = currentSize + "px"; // applies the new font size
                localStorage.setItem("fontSize", currentSize + "px"); // saves the font size in local storage so that even if the page reloads, the font size stays the same
            }
            window.changeFontSize = changeFontSize; // make changeFontSize globally accessible
        });

        </script>

     

    <!-- Cookie and Terms Popup -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <h2>Cookies & Terms and Conditions</h2>
            <p>We use cookies to ensure you get the best experience on our website. By continuing, you agree to our <a asp-controller="Home" asp-action="TermsConditions">Terms and Conditions</a> and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.</p>
            <button id="accept-btn">Accept</button>
        </div>
    </div>

    <script>
        // Wait for the page to load
        window.onload = function() {
            // Check if the user has already accepted the terms
            if (!sessionStorage.getItem('termsAccepted')) {
                // Set a timeout to show the popup after 3 seconds
                setTimeout(function() {
                    let popup = document.getElementById('popup');
                    popup.style.display = 'block'; // Show the popup
                }, 3000); // 3000 milliseconds = 3 seconds
            }

            // Get the accept button
            let acceptBtn = document.getElementById('accept-btn');

            // Event listener for the accept button
            acceptBtn.addEventListener('click', function() {
                let popup = document.getElementById('popup');
                popup.style.display = 'none'; // Hide the popup when accepted
                // Set a session storage item to remember the user's acceptance for the session
                sessionStorage.setItem('termsAccepted', 'true');
            });
        };
    </script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
