@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <!-- Home Page Link -->
    <li class="nav-item">
        <a class="nav-link" id="home" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    
    
    <!-- Profile Link -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    </li>

    <!-- Privacy Policy Link -->
    <li class="nav-item">
        <a class="nav-link" id="privacy-policy" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
    </li>

    <!-- Personal Data Link -->
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal Data</a>
    </li>
</ul>